<div class="header pb-8 d-flex align-items-center"
  style="min-height: 600px; background-image: url(assets/img/theme/profile-cover.jpg); background-size: cover; background-position: center top;">
  <!-- Mask -->
  <span class="mask bg-grad-final opacity-8"></span>
  <!-- Header container -->
  <div class="container-fluid d-flex align-items-center">
    <div class="row">
      <div class="col-lg-12 col-md-10">
        <h1 class="display-2 text-white">Add Patients</h1>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid" style="margin-top: -15rem;">
  <div class="row">
    <div class="col-xl-12 order-xl-1">
      <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">Patient</h3>
            </div>
            <div class="col-4 text-right">
              
            </div>
          </div>
        </div>
        <div class="card-body" >
         
          <form #f="ngForm" (ngSubmit)="addpatientprescription(f.value)" id="formMain">
           
            <h6 class="heading-small text-muted mb-4">Details</h6>
            <div class="pl-lg-4">
                <div class="row pt-2 pb-2">
                  <div class="col-lg-4">
                      <label class="form-control-label" >Patient ID :</label>
                      <label class="description pl-md-2" [(ngModel)]="patient._id">{{patient._id}}</label>
                  </div>
                  <div class="col-lg-4">
                    <label class="form-control-label">Patient Name :</label>
                    <label class="description pl-md-2">{{patient.patientName}}</label>
                </div>
                <div class="col-lg-4">
                  <label class="form-control-label">Mobile :</label>
                  <label class="description pl-md-2">{{patient.mobile}}</label>
              </div>
                  </div>
                  <div class="row pt-2 pb-2">
                    <div class="col-lg-4">
                      <label class="form-control-label">Email :</label>
                      <label class="description pl-md-2">{{patient.email}}</label>
                  </div>
                  <div class="col-lg-4">
                    <label class="form-control-label">Date of birth :</label>
                    <label class="description pl-md-2">{{patient.dob | date:'mediumDate'}}</label>
                    </div>
                  <div class="col-lg-4">
                    <label class="form-control-label">Age :</label>
                    <label class="description pl-md-2">{{patient.age}}</label>
                    </div>
                  </div>
                  <div class="row pt-2 pb-2">
                    <div class="col-lg-4">
                      <label class="form-control-label">Gender :</label>
                      <label class="description pl-md-2">{{patient.gender}}</label>
                  </div>
                      <div class="col-lg-4">
                        <label class="form-control-label">Pet Type :</label>
                        <label class="description pl-md-2">{{patient.pettype}}</label>
                      </div>
                      
                  
                    <div class="col-lg-4">
                      <label class="form-control-label">Breed :</label>
                      <label class="description pl-md-2">{{patient.breed}}</label>
                      </div>
                  </div>
              <div class="row">
                <div class="col-lg-12">
                  <div class="form-group">
                    <label class="form-control-label">Address :</label>
                  <label class="description pl-md-2">{{patient.address}}</label>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <div class="form-group">
                    <label class="form-control-label" for="txt_symptoms">Symptoms</label>
                    <textarea type="text" id="txt_symptoms" class="form-control form-control-alternative"
                      placeholder="Symptoms" [(ngModel)]="patient.prescription.symptoms" name="symptoms" maxlength="512"></textarea>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="txt_deasease_name">Disease Name</label>
                    <select id="ddl_Disease" class="form-control" placeholder="Please select Diseases"
                      name="disease" [(ngModel)]="patient.prescription.disease" (change)="getdiseasestage()">
                      <option selected="true" disabled value="0">Select Disease</option>
                      <option *ngFor="let arr of diseasesArray; let i = index" value="{{arr.id}}">{{arr.diseaseName}}
                      </option>

                    </select>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="txt_DiseaseStage">Disease Stage</label>
                    <select id="ddl_DiseaseStage" class="form-control" placeholder="Please select Diseases"
                      name="diseaseStage" [(ngModel)]="patient.prescription.diseaseStage" (change)="getmedicine(true)">
                      <option selected="true" disabled value="0">Select Disease Stage</option>
                      <option *ngFor="let arr of diseasesStageArray; let i = index" value="{{arr._id}}">{{arr.diseaseStageName}}
                      </option>
                    </select>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="txt_LFDesease">Length of Disease</label>
                    <input type="text" id="lFDesease" class="form-control form-control-alternative"
                      placeholder="Lenghth of desease" [(ngModel)]="patient.prescription.lFDesease" name="lFDesease">
                  </div>
                </div>
              </div>
            </div>
            <hr class="my-4" />
            <!-- Address -->
            <h6 class="heading-small text-muted mb-4">Prescription</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="card shadow">
                  <div class="table-responsive">
                    <table class="table align-items-center table-flush">
                      <thead class="thead-light">
                        <tr>
                          <th scope="col">Medicine Name</th>
                          <th scope="col">How many times in a day</th>
                          <th scope="col">how many days</th>
                          <th scope="col">Special instruction</th>
                          <th scope="col">Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let dynamic of dynamicArray; let i = index;">
                          <td>
                            <select id="txt_Disease" class="form-control" placeholder="Please select Diseases"
                              name="txt_Disease" [(ngModel)]="dynamic.MeName">
                              <option selected="true" disabled value="0">Select Medicine</option>
                              <option *ngFor="let arr of medicineArray; let i = index" value="{{arr._id}}">
                                {{arr.medicineName}}
                              </option>
                            </select>
                          </td>
                          <td>
                            <input type="number" id="txt_HMTimes" class="form-control form-control-alternative"
                              placeholder="How many Times" name="txt_HMTimes" [(ngModel)]="dynamic.HMTimes">
                          </td>
                          <td>
                            <input type="number" id="txt_NODays" class="form-control form-control-alternative"
                              placeholder="Number Of Days" name="txt_NODays" [(ngModel)]="dynamic.NODays">
                          </td>
                          <td>
                            <input type="text" id="txt_SPInstruction" class="form-control form-control-alternative"
                              placeholder="Special Instruction" name="txt_SPInstruction" [(ngModel)]="dynamic.SPInstruction">
                          </td>
                          <td class="text-center">
                            <div placement="bottom-center">
                              <!-- <a class="btn btn-sm btn-icon-only text-light" >
                                <i class="fas fa-edit text-yellow fa-lg" aria-hidden="true"></i>
                                
                              </a> -->
                              <a class="btn btn-sm btn-icon-only text-light" (click)="deleteRow(i)">

                                <i class="fas fa-trash text-red fa-lg" aria-hidden="true"></i>
                              </a>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td colspan="5">
                            <nav aria-label="...">
                              <a class="btn btn-sm text-primary float-right" (click)="addRow(i)"> <i
                                  class="ni ni-fat-add"></i> Add More</a>
                            </nav>
                          </td>

                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <!-- <div class="card-footer py-4">
                    <nav aria-label="...">
                      <a class="btn btn-sm text-primary float-right" (click)="addRow(i)"> <i class="ni ni-fat-add"></i> Add More</a>
                    </nav>
                  </div> -->
                </div>

              </div>
            </div>
            <hr class="my-4" />
            <div class="row">
              <div class="col-lg-3">
                <div class="form-group">

                  <label class="form-control-label" for="">Follow-up Need</label>
                  <div class="btn-group mt-1">
                    <label class="btn btn-md btn-primary">
                      <input type="radio" name="optradio" checked (click)="hideoption(true,1)">Yes
                    </label>
                    <label class="btn btn-md btn-primary">
                      <input type="radio" name="optradio" (click)="hideoption(false,1)" *ngIf="patient.prescription.followupNeed===false ? 'checked' : 'non' ">No
                    </label>
                  </div>
                </div>
              </div>
              <div class="col-lg-4" *ngIf="hide">
                <div class="form-group">
                  <label class="form-control-label" for="txt_FDate">Follow-up Date</label>
                  <div class="input-group input-group-alternative">

                    <input class="form-control form-control-alternative" id="txt_FDate" (click)="d.toggle()"
                      placeholder="yyyy-mm-dd" name="FDate" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker" (ngModelChange)="convertobjtodate(1);">
                    <div class="input-group-append" (click)="d.toggle()">
                      <button class="btn btn-outline-secondary ni ni-calendar-grid-58" type="button"></button>
                      <!-- <span class="input-group-text"><i class="ni ni-calendar-grid-58"></i></span> -->
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4" *ngIf="hide">
                <div class="form-group">
                  <label class="form-control-label" for="txt_Ftime">Follow-up Date</label>
                  <ngb-timepicker [(ngModel)]="patient.prescription.timeFollow" [meridian]="true" name="timeFollow"></ngb-timepicker>
                </div>
              </div>
            </div>
            <hr class="my-4" />
            <div class="row">
              <div class="col-lg-3">
                <div class="form-group">

                  <label class="form-control-label" for="">Vaccination Required</label>
                  <div class="btn-group mt-1">
                    <label class="btn btn-md btn-primary">
                      <input type="radio" name="voptradio" checked (click)="hideoption(true,2)">Yes
                    </label>
                    <label class="btn btn-md btn-primary">
                      <input type="radio" name="voptradio" (click)="hideoption(false,2)">No
                    </label>
                  </div>
                </div>
              </div>
              <div class="col-lg-3" *ngIf="Vhide">
                <div class="form-group">
                  <label class="form-control-label" for="txt_VFDate">Vaccination Name</label>
                  <select id="ddl_Vaccination" class="form-control" placeholder="Please select Vaccination"
                      name="vaccination" [(ngModel)]="patient.prescription.vaccination">
                      <option selected="true" disabled value="0">Select Vaccination</option>
                      <option *ngFor="let arr of vaccination; let i = index" value="{{arr.id}}" ng-selected="type= options[0]">{{arr.vaccination}}
                      </option>

                    </select>
                </div>
              </div>
              <div class="col-lg-3" *ngIf="Vhide">
                <div class="form-group">
                  <label class="form-control-label" for="txt_VFDate">Vaccination Date</label>
                  <div class="input-group input-group-alternative">

                    <input class="form-control form-control-alternative" id="txt_VFDate" (click)="dr.toggle()"
                      placeholder="yyyy-mm-dd" name="vFDate" [(ngModel)]="modelVFDate" ngbDatepicker #dr="ngbDatepicker" (ngModelChange)="convertobjtodate(2);">
                    <div class="input-group-append" (click)="dr.toggle()">
                      <button class="btn btn-outline-secondary ni ni-calendar-grid-58" type="button"></button>
                      <!-- <span class="input-group-text"><i class="ni ni-calendar-grid-58"></i></span> -->
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-3" *ngIf="Vhide">
                <div class="form-group">
                  <label class="form-control-label" for="txt_VFtime">Follow-up Date</label>
                  <ngb-timepicker [(ngModel)]="patient.prescription.vtimeFollow" [meridian]="true" name="vtimeFollow"></ngb-timepicker>
                </div>
              </div>
            </div>
            <hr class="my-4" />
            <!-- Description -->
            <h6 class="heading-small text-muted mb-4">About me</h6>
            <div class="pl-lg-4">
              <div class="form-group">
                <label>About Me</label>
                <textarea rows="4" class="form-control form-control-alternative"
                  placeholder="A few words about you ..." [(ngModel)]="patient.prescription.aboutMe" name="aboutMe"></textarea>
              </div>
            </div>
            <input type="submit" class="btn btn btn-primary" value="Save" id="btn_save" name="btn_save" />
          </form>
        </div>
      </div>
    </div>
  </div>
</div>