<div class="header bg-grad-final pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      <div class="row">
        <div class="col-xl-12 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col-auto pt-2">
                  <span class="h2 font-weight-bold mt-0">Select Diseases:</span>
                </div>
                <div class="col">
                  <select id="txt_Disease" class="form-control" placeholder="Please select Diseases" name="txt_Disease" required>
                    <option>A</option>  
                    <option>B</option>  
                    <option>C</option>  
                    <option>D</option>  
                  </select>
                </div>
                <div class="col-auto pt-2">
                  <span class="h2 font-weight-bold mb-0">Diseases Stage :</span>
                </div>
                <div class="col">
                  <input id="txt_Name" class="form-control" placeholder="Please Enter Diseases Stage" name="txt_Name" required>
                </div>
              </div>
             <div class="row mt-4" >
              <div class="col-auto offset-md-5">
                <input id="txt_Save" class="btn btn-outline btn-info" type="submit" name="txt_Save" value="Save" required>
              </div>
             </div>
            </div>
          </div>
        </div>
  
  
      </div>
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->

  <!-- Dark table -->
  <div class="row mt-5">
    <div class="col">
      <div class="card bg-default shadow">
        <div class="card-header bg-transparent border-0">
          <h3 class="text-white mb-0 d-inline">Diseases Stage</h3>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-dark table-flush">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Diseases Stage</th>
                <th scope="col">Diseases</th>
                <th scope="col">Status</th>
                <th scope="col" class="text-right pr-5">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">
                  <div class="media align-items-center">
                    <a href="javascript:void(0)" class="avatar rounded-circle mr-3">
                      <img alt="Image placeholder" src="../assets/img/theme/bootstrap.jpg">
                    </a>
                    <div class="media-body">
                      <span class="mb-0 text-sm">Argon Design System</span>
                    </div>
                  </div>
                </th>
                <td>
                  <span class="mb-0 text-sm">System</span>
                </td>
                <td>
                  <span class="badge badge-dot mr-4">
                    <i class="bg-warning"></i> InActive
                  </span>
                </td>
               
                <td class="text-right">
                  <div placement="bottom-right">
                    <a class="btn btn-sm btn-icon-only text-light">
                      <i class="fas fa-edit text-yellow fa-lg" aria-hidden="true"></i>
                      
                    </a>
                    <a class="btn btn-sm btn-icon-only text-light">
                     
                      <i class="fas fa-trash text-red fa-lg" aria-hidden="true"></i>
                    </a>
                  </div> 
                </td>
              </tr>
              <tr>
                <th scope="row">
                  <div class="media align-items-center">
                    <a href="javascript:void(0)" class="avatar rounded-circle mr-3">
                      <img alt="Image placeholder" src="../assets/img/theme/angular.jpg">
                    </a>
                    <div class="media-body">
                      <span class="mb-0 text-sm">Angular Now UI Kit PRO</span>
                    </div>
                  </div>
                </th>
                <td>
                  <span class="mb-0 text-sm">System</span>
                </td>
                <td>
                  <span class="badge badge-dot">
                    <i class="bg-success"></i> Active
                  </span>
                </td>
               
                <td class="text-right">
                  <div placement="bottom-right">
                    <a class="btn btn-sm btn-icon-only text-light">
                      <i class="fas fa-edit text-yellow fa-lg" aria-hidden="true"></i>
                      
                    </a>
                    <a class="btn btn-sm btn-icon-only text-light">
                     
                      <i class="fas fa-trash text-red fa-lg" aria-hidden="true"></i>
                    </a>
                  </div> 
                </td>
              </tr>
              <tr>
                <th scope="row">
                  <div class="media align-items-center">
                    <a href="javascript:void(0)" class="avatar rounded-circle mr-3">
                      <img alt="Image placeholder" src="../assets/img/theme/sketch.jpg">
                    </a>
                    <div class="media-body">
                      <span class="mb-0 text-sm">Black Dashboard</span>
                    </div>
                  </div>
                </th>
                <td>
                  <span class="mb-0 text-sm">System</span>
                </td>
                <td>
                  <span class="badge badge-dot">
                    <i class="bg-success"></i> Active
                  </span>
                </td>
               
                <td class="text-right">
                  <div placement="bottom-right">
                    <a class="btn btn-sm btn-icon-only text-light">
                      <i class="fas fa-edit text-yellow fa-lg" aria-hidden="true"></i>
                      
                    </a>
                    <a class="btn btn-sm btn-icon-only text-light">
                     
                      <i class="fas fa-trash text-red fa-lg" aria-hidden="true"></i>
                    </a>
                  </div> 
                </td>
              </tr>
              <tr>
                <th scope="row">
                  <div class="media align-items-center">
                    <a href="javascript:void(0)" class="avatar rounded-circle mr-3">
                      <img alt="Image placeholder" src="../assets/img/theme/react.jpg">
                    </a>
                    <div class="media-body">
                      <span class="mb-0 text-sm">React Material Dashboard</span>
                    </div>
                  </div>
                </th>
                <td>
                  <span class="mb-0 text-sm">System</span>
                </td>
                <td>
                  <span class="badge badge-dot">
                    <i class="bg-success"></i>Active
                  </span>
                </td>
                
                <td class="text-right">
                  <div placement="bottom-right">
                    <a class="btn btn-sm btn-icon-only text-light">
                      <i class="fas fa-edit text-yellow fa-lg" aria-hidden="true"></i>
                      
                    </a>
                    <a class="btn btn-sm btn-icon-only text-light">
                     
                      <i class="fas fa-trash text-red fa-lg" aria-hidden="true"></i>
                    </a>
                  </div> 
                </td>
              </tr>
              <tr>
                <th scope="row">
                  <div class="media align-items-center">
                    <a href="javascript:void(0)" class="avatar rounded-circle mr-3">
                      <img alt="Image placeholder" src="../assets/img/theme/vue.jpg">
                    </a>
                    <div class="media-body">
                      <span class="mb-0 text-sm">Vue Paper UI Kit PRO</span>
                    </div>
                  </div>
                </th>
                <td>
                  <span class="mb-0 text-sm">System</span>
                </td>
                <td>
                  <span class="badge badge-dot mr-4">
                    <i class="bg-warning"></i> InActive
                  </span>
                </td>
               
                <td class="text-right">
                  <div placement="bottom-right">
                    <a class="btn btn-sm btn-icon-only text-light">
                      <i class="fas fa-edit text-yellow fa-lg" aria-hidden="true"></i>
                      
                    </a>
                    <a class="btn btn-sm btn-icon-only text-light">
                     
                      <i class="fas fa-trash text-red fa-lg" aria-hidden="true"></i>
                    </a>
                  </div> 
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
